.button-class {
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: blue;
    color: white;
    height: 3em;
    width: 10%;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

.button-class-disabled {
    display: flex;
    margin-top: 1em;
    height: 3em;
    width: 10%;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    margin-bottom: 1em;
}