.employee-form-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    // background-color: grey;
    

    .employee-form-heading {
        padding: 1em;
        display: flex;
        font-weight: bold;
        font-size: large;
    }

    .employee-form-fields {
        display: flex;
        width: 80%;
        background-color: lightgray;
        border: solid thin black;
        align-items: center;
        flex-direction: column;

        .field-element {
            display: flex;
            flex-direction: row;
            width: 100%;

            .phone-number-enterred-preview {
                margin-left: 20%;
                padding: 0.5em;

                .number-preview-spacing {
                    margin-left: 1em;
                }
            }

            .field-element-label {
                display: flex;
                width: 20%;
                padding: 0.5em;
            }

            .field-element-input {
                display: flex;
                flex-direction: row;
                width: 80%;
                padding: 0.5em;

                .input-field {
                    padding-left: 0.5em;
                    width: 30%;
                    height: 1.5em;
                    font-size: 1em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    border: solid thin black;
                    margin-right: 1em;
                }

                .input-field-skills {
                    padding-left: 0.5em;
                    width: 20%;
                    height: 1.5;
                    font-size: 1em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    border: solid thin black;
                    margin-right: 1em;
                }

                .add-icon-field {
                    display: flex;
                    all: unset;
                    height: 1.5em;
                    width: 1.5em;
                    background-color: grey;

                    .add-icon {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}